.control-group input { border:2px solid #afafaf;}
.btn-primary { background : #00b4d6 ; border-color : #00b4d6 ;}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus { background :#0DA2BE  ; border-color : #0DA2BE ;}
